################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.dll
*.pdb
*.xml
*.props
*.targets
*.nupkg
/FizzBuzz/Tests/FizzBuzz.UnitTests/obj/Debug
*.suo
/FizzBuzz/.vs/FizzBuzz/v15/Server/sqlite3
/FizzBuzz/FizzBuzz/obj/Debug
/FizzBuzz/packages/NUnit.3.9.0
*.exe
/FizzBuzz/FizzBuzz/bin/Debug/FizzBuzz.exe.config
/FizzBuzz/Tests/FizzBuzz.UnitTests/bin/Debug/FizzBuzz.exe.config
/AmbientContext/TimeProvider.UnitTests/obj/Debug
/FizzBuzzTemplate/.vs/FizzBuzz/v15/Server/sqlite3
/FizzBuzzTemplate/FizzBuzzTemplate/obj/Debug
/FizzBuzzTemplate/packages/NUnit.3.9.0
/AmbientContext/.vs/TimeProvider/v15/Server/sqlite3
/AmbientContext/packages/FluentAssert.1.0.0.11/content
/AmbientContext/packages/NUnit.3.10.1
/AmbientContext/TimeProvider/obj/Debug
/AmbientContext/TimeProvider.UnitTests/bin/Debug
/AmbientContext/TimeProvider.UnitTests/FluentAssert.Provenance.txt
/AmbientContext/TimeProvider.UnitTests/FluentAssert.License.txt
/Packages/NUnit.3.10.1
/Packages/FluentAssert.1.0.0.11/content
/Packages/NUnit.2.6.4/license.txt
/DesignPatterns/bin/Debug
/DesignPatterns/obj/Debug
